* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Share code */

.fixed-width {
    max-width: 1170px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.text-center {
    text-align: center;
}
/* section{
margin: 70px 0px;
} */
/* header section */
.header-section {
    background-color: #1A0B2E;
}

.nav-hambar {
    display: none;
}

nav.nav-bar {
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

ul.list-item {
    justify-content: space-between;
    width: 210px;
}

.tech {
    color: #FFFFFF;
}

#wave {
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.list-item li a {
    color: #FFFFFF;
    font-size: 1rem;
}

/* Button hover part */
.nav-btn:hover {
    background: #00FF88;
    cursor: pointer;

}

.hreo-btn-1:hover {
    background: #00FF88;
    cursor: pointer;

}

.hreo-btn-2:hover {
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    cursor: pointer;

}

.nav-btn,
.hreo-btn-1 {
    width: 110px;
    height: 38px;
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    border-radius: 28px;
    color: #FFFFFF;
    font-size: 16px;
}

/* hero-section */

.hero-section {
    background-image: url(./assets/hero-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
}

.hero-wrap {
    width: 550px;
    height: 558px;
    padding: 96px 0;
    margin: 0 auto;
    text-align: center;
}

.hero-background {
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 340px;
    height: 340px;
    margin: 0 auto;
    position: relative;
}

.new {
    padding: 10px 16px;
    background-color: #00FF88;
    font-size: 1rem;
    position: absolute;
    top: 26px;
    right: 13px;
    border-radius: 18px;
}

.hero-icon img {
    margin-top: 74px;
}

.hero-text-wrap {
    height: 150px;
    margin-top: 40px;
}

.hero-tex h2 {
    font-size: 50px;
    color: #FFFFFF;
    font-weight: 800;
    margin-bottom: 10px;
}

.hero-tex p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.hero-btn {
    display: flex;
    justify-content: space-around;
    width: 280px;
    align-items: center;
    margin: 0 auto;
    transition: 2s;
}

div#herobtn-icon {
    align-items: center;
    gap: 5px;
    width: 155px;
    height: 36px;
}

span.hreo-btn-1-icon {
    line-height: 10px;
    margin: 0 4px;
}

.hreo-btn-1 {

    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    border-radius: 28px;
    color: #FFFFFF;
    font-size: 16px;
}

.hreo-btn-2 {
    padding: 7px 13px;
    border: 1px solid #00FF88;
    border-radius: 30px;
    font-size: 16px;
    color: #00FF88;
    transition: 1s;
}

/* About section */

.about-section{
    background-color: #1A0B2E;
}
.about-text.text-center {
    width: 670px;
    margin: 0 auto;
}
.about-text h1 {
    padding: 20px 0;
    font-size: 3rem;
    color: #FFFFFF;
}
.about-text p {
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.about-rating {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 1.15rem;
}
.about-rating-item h1 {
    color: #00FF88;
    font-size: 3rem;
    margin-bottom: 1.25rem;
}
.about-rating-item p {
    font-weight: 200;
    font-size: 0.8rem;
    color: #FFFFFF;
}







@media screen and (max-width:576px) {

    .nav-logo {
        margin-left: 20px;
    }

    .nav-hambar {
        margin-right: 45px;
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .header-section {
        overflow: hidden;
    }

    .hero-wrap {
        width: 350px;
    }
}