* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Share code */

.fixed-width {
    max-width: 1170px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.text-center {
    text-align: center;
}

/* section{
margin: 70px 0px;
} */
/* header section */
.header-section {
    background-color: #1A0B2E;
}

.nav-hambar {
    display: none;
}

nav.nav-bar {
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

ul.list-item {
    justify-content: space-between;
    width: 210px;
}

.tech {
    color: #FFFFFF;
}

#wave {
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

ul.list-item li a {
    color: #FFFFFF;
    font-size: 1rem;
}

/* Button hover part */
.nav-btn:hover {
    background: #00FF88;
    cursor: pointer;

}

.hreo-btn-1:hover {
    background: #00FF88;
    cursor: pointer;

}

.hreo-btn-2:hover {
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    cursor: pointer;

}

.nav-btn,
.hreo-btn-1 {
    width: 110px;
    height: 38px;
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    border-radius: 28px;
    color: #FFFFFF;
    font-size: 16px;
}

/* hero-section */

.hero-section {
    background-image: url(./assets/hero-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
}

.hero-wrap {
    width: 550px;
    height: 558px;
    padding: 96px 0;
    margin: 0 auto;
    text-align: center;
}

.hero-background {
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 340px;
    height: 340px;
    margin: 0 auto;
    position: relative;
}

.new {
    padding: 10px 16px;
    background-color: #00FF88;
    font-size: 1rem;
    position: absolute;
    top: 26px;
    right: 13px;
    border-radius: 18px;
}

.hero-icon img {
    margin-top: 74px;
}

.hero-text-wrap {
    height: 150px;
    margin-top: 40px;
}

.hero-tex h2 {
    font-size: 50px;
    color: #FFFFFF;
    font-weight: 800;
    margin-bottom: 10px;
}

.hero-tex p {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}

.hero-btn {
    display: flex;
    justify-content: space-around;
    width: 280px;
    align-items: center;
    margin: 0 auto;
    transition: 2s;
}

div#herobtn-icon {
    align-items: center;
    gap: 5px;
    width: 155px;
    height: 36px;
}

span.hreo-btn-1-icon {
    line-height: 10px;
    margin: 0 4px;
}

.hreo-btn-1 {

    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    border-radius: 28px;
    color: #FFFFFF;
    font-size: 16px;
}

.hreo-btn-2 {
    padding: 7px 13px;
    border: 1px solid #00FF88;
    border-radius: 30px;
    font-size: 16px;
    color: #00FF88;
    transition: 1s;
}

/* About section */

.about-section {
    background-color: #1A0B2E;
    height: 480px;
}

.about-text.text-center {
    width: 670px;
    margin: 0 auto;
}

.about-text h1 {
    padding: 20px 0;
    font-size: 3rem;
    color: #FFFFFF;
}

.about-text p {
    font-size: 0.8rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.about-rating {
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 1.15rem;
    margin: 120px 0px;
}

.about-rating-item h1 {
    color: #00FF88;
    font-size: 3rem;
    margin-bottom: 1.25rem;
}

.about-rating-item p {
    font-weight: 200;
    font-size: 0.8rem;
    color: #FFFFFF;
}

/* Why choose section */

.choose-section {
    background-color: #230E3D;
    height: 800px;
}

.choose-heading h1 {
    text-align: center;
    padding: 40px;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}

.choose-item {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 180px);
    gap: 20px;

}

.choose-list {
    width: 100%;
    height: 100%;
    background-color: #351165;
    border-radius: 20px;
}

.grid-horizental {
    grid-column: span 2;
}

.grid-vertical {
    grid-row: span 2;
}

.chose-1 .icon img {
    padding: 38px;
    width: 33px;
}

.chose-1 h1 {
    padding: 27px;
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: -32px;
}

.chose-1 p {
    padding: 28px;
    font-size: 0.8rem;
    color: #FFFFFF;
}

.chose-2 .icon img {
    padding: 26px;
    width: 30px;
}

.chose-2 h1 {
    margin-left: 24px;
    font-size: 1.25rem;
    color: #FFFFFF;
}

.chose-2 p {
    margin: 11px 24px;
    color: #FFFFFF;
    font-size: 0.8rem;
}

.chose-3 .icon img {
    padding: 24px;
    width: 30px;
}

.chose-3 h1 {
    margin-left: 24px;
    font-size: 1.25rem;
    color: #FFFFFF;
}

.chose-3 p {
    margin: 11px 24px;
    color: #FFFFFF;
    font-size: 0.8rem;
}

/* Feature Section */
.feature-section {
    height: 1270px;
    background-color: #1A0B2E;
}

.feature-episod-heading-ifram h1 {
    text-align: center;
    font-size: 3rem;
    padding-top: 125px;
    font-weight: 700;
    color: #FFFFFF;
}

.ifram-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 200px;
    gap: 30px;
    margin-top: 40px;
}

.ifram-wrap {
    border-radius: 10px;
    background-color: #250D44;
}

.video iframe {
    border-radius: 10px;
}

.ifram-wrap h2 {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 24px 24px 12px 24px;
}

.ifram-wrap p {
    font-size: 1rem;
    color: #FFFFFF;
    padding: 12px 24px;
    line-height: 1.5rem;
}

.timer {
    display: flex;
    align-items: center;
}

span.timer-icon img {
    padding: 7px;
    width: 20px;
}

span.minute {
    color: #FFFFFF;
}

/* feature-host */

.feature-host {
    margin-top: 40px;
}


.feature-host-heading h1 {
    text-align: center;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.feature-host-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #533C72;
    border-radius: 20px;
    gap: 20px;
    height: 340px;
}

.host-man img {
    width: 100%;
}

.host-man {
    width: 50%;
    margin-left: 2rem;
}

.host-content h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    padding: 16px 0px;
}

.host-content p {
    color: #FFFFFF;
    padding: 4px;
    font-size: 1rem;
    line-height: 24px;
}

/* ost-icon */
.host-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 16px;
}

.host-icon-item img {
    border: 1px solid #3b2b50;
    border-radius: 50%;
    padding: 20px;
    font-size: 3rem;
}

/* footer-section */

.footer-section {
    background-image: url(./assets/footer-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.footer-content {
    padding: 120px;
}

.footer-content {
    padding: 120px;
    text-align: center;
}

ul.socila-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

span.tech-2 {
    font-size: 3rem;
    color: #FFFFFF;
}

#wave-2 {
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}

.footer-heading {
    margin-bottom: 2rem;
}

ul.socila-item li {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 2rem;
}

ul.socila-item li img {
    width: 24px;
    height: 24px;
}

.footer-content h2 {
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 400;
}



@media screen and (max-width:992px) {

    .video iframe {
        width: 300px;
    }

}

@media screen and (max-width:768px) {

    .video iframe {
        width: 228px;
    }

}

@media screen and (max-width:576px) {

    .nav-logo {
        margin-left: 20px;
    }

    .nav-hambar {
        margin-right: 45px;
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .header-section {
        overflow: hidden;
    }

    .hero-wrap {
        width: 350px;
    }


    /* about section */
    .about-rating {
        grid-template-columns: repeat(2, 1fr);
        margin: 40px 0px;
    }

    .about-text.text-center {
        width: 100%;
    }

    .about-section {
        height: 550px;
    }

    /* Choose-section */
    .choose-section {
        height: 1250px;
    }

    .choose-heading h1 {
        font-size: 1.8rem;
    }

    .choose-item {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    /* Feature section */
    .ifram-item {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .video iframe {
        width: 100%;
    }

    .feature-section {
        height: auto;
    }

    /* Feature host section */
    .feature-host-card {
        flex-direction: column;
        height: auto;
    }

    .host-man {
        width: 90%;
        margin-left: 0;
        padding-top: 20px;
    }

    .host-content {
        text-align: center;
    }

    .host-icon {
        justify-content: center;
    }

    .footer-content {
        padding: 35px;
    }
}