* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Share code */

.fixed-width {
    max-width: 1170px;
    margin: 0 auto;
}

a {
   text-decoration: none;
}

li {
    list-style: none;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.text-center {
    text-align: center;
}

/* header section */
.nav-hambar {
    display: none;
}

nav.nav-bar {
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    padding: 30px 0px;
}

ul.list-item {
    justify-content: space-between;
    width: 210px;
}
